#create_game {
    border: solid 1px;
    width: 20%;
}

label {
    padding-left: 1em;
}

input {
    margin-right: 1em;
    float: right;
}

input[type=submit] {
    float: left;
    margin: 1em;
}

table {
    border-collapse: collapse;
}

td {
    border: solid 1px;
    border-color: black;
    width: 4rem;
    height: 4rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.player {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: center;
}

.flex {
    display: flex;
}

.flexboard {
    display: flex;
    margin-top: 2em;
}

.error {
    color: red;
    padding-left: 1em;
}

.no-error {
    height: 1.2em;
}

.black {
    color: magenta;
}

.white tr:nth-of-type(even) td:nth-of-type(odd),
.white tr:nth-of-type(odd) td:nth-of-type(even),
.black tr:nth-of-type(even) td:nth-of-type(even),
.black tr:nth-of-type(odd) td:nth-of-type(odd) {
    color: black;
    background-color: black;
}

.white tr:nth-of-type(even) td:nth-of-type(even),
.white tr:nth-of-type(odd) td:nth-of-type(odd),
.black tr:nth-of-type(even) td:nth-of-type(odd),
.black tr:nth-of-type(odd) td:nth-of-type(even) {
    color: white;
    background-color: white;
}

button {
    border: none;
    background: none;
    padding: 0.5em;
}