.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas: "joukkueen-nimi . joukkueen-nimi-input ."
                         "salasana . salasana-input tyhja"
                         "jasenet jasen1 jasen1-input tyhja"
                         "jasenet jasen2 jasen2-input tyhja"
                         "jasenet jasen3 jasen3-input tyhja"
                         "jasenet jasen4 jasen4-input tyhja"
                         "jasenet jasen5 jasen5-input tyhja"
                         "jasenet . tallenna tyhja"
  }
  
  .joukkueen-nimi, .salasana, .jasenet, .jasen1, .jasen2, .jasen3, .jasen4, .jasen5, .tallenna, .teams {
    background: #ccc;
    padding: 1em;
  }
  
  .joukkueen-nimi-input, .salasana-input, .jasen1-input, .jasen2-input, .jasen3-input, .jasen4-input, .jasen5-input {
    background: pink;
    padding: 1em;
  }
  
  .joukkueen-nimi {
    grid-area: joukkueen-nimi;
  }
  
  .joukkueen-nimi-input {
    grid-area: joukkueen-nimi-input;
  }
  
  .salasana {
    grid-area: salasana;
  }

  .salasana-input {
    grid-area: salasana-input;
  }
  
  .jasenet {
    grid-area: jasenet;
  }
  
  .jasen1 {
    grid-area: jasen1;
  }

  .jasen1-input {
    grid-area: jasen1-input;
  }
  
  .jasen2 {
    grid-area: jasen2;  
  }

  .jasen2-input {
    grid-area: jasen2-input;
  }
  
  .jasen3 {
    grid-area: jasen3;
  }

  .jasen3-input {
    grid-area: jasen3-input;
  }
  
  .jasen4 {
    grid-area: jasen4;
  }

  .jasen4-input {
    grid-area: jasen4-input;
  }
  
  .jasen5 {
    grid-area: jasen5;
  }

  .jasen5-input {
    grid-area: jasen5-input;
  }
  
  .tallenna {
    grid-area: tallenna;
  }
  
  .teams {
    grid-area: teams;
  }