* {
    font-family: Arial;
}

.login {
    background-color: #ceeeff;
}

.loginform {
    background-color: white;
    border: 1px solid black;
    width: 200px;
}

p {
    padding-left: 1em;
}

input {
    margin-right: 1em;
}

/*TODO: tarvitaanko tätä? toinen flex-container-määritys alempana*/
/*.flex-container {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 1em;
}*/

.error {
    color: red;
    padding-left: 1em;
}

.no-error {
    height: 1.5em;
    /*width: 1px;*/
}

input[type="submit"] {
    padding: 0.5em;
    background-color: #239ff1;
    color: white;
}

#header {
    background-color: #239ff1;
    list-style-type: none;
    padding: 0.5em 0 0.5em 0;
}

#header a {
    color: white;
}

#header li {
    display: inline-block;
    padding: 0 0.5em 0 0.5em;
}

.center {
    text-align: center;
}

label {
    text-align: left;
}

.right {
    float: right;
}

.flex-container {
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas:
        "joukkueen-nimi . joukkueen-nimi-input"
        "salasana . salasana-input"
        "jasenet jasen1 jasen1-input"
        "jasenet jasen2 jasen2-input"
        "jasenet jasen3 jasen3-input"
        "jasenet jasen4 jasen4-input"
        "jasenet jasen5 jasen5-input"
        "jasenet . tallenna";
}

.joukkueen-nimi {
    grid-area: joukkueen-nimi;
}

.joukkueen-nimi-input {
    grid-area: joukkueen-nimi-input;
}

.salasana {
    grid-area: salasana;
}

.salasana-input {
    grid-area: salasana-input;
}

.jasenet {
    grid-area: jasenet;
}

.jasen1 {
    grid-area: jasen1;
    justify-self: end;
}    

.jasen1-input {
    grid-area: jasen1-input;
}

.jasen2 {
    grid-area: jasen2;
    justify-self: end;
}

.jasen2-input {
    grid-area: jasen2-input;
}

.jasen3 {
    grid-area: jasen3;
    justify-self: end;
}

.jasen3-input {
    grid-area: jasen3-input;
}

.jasen4 {
    grid-area: jasen4;
    justify-self: end;
}

.jasen4-input {
    grid-area: jasen4-input;
}

.jasen5 {
    grid-area: jasen5;
    justify-self: end;
}

.jasen5-input {
    grid-area: jasen5-input;
}

.error-teamname {
    grid-column: 4 / 5;
    grid-row: 1 / 1;
}

.error-jasen1 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.error-jasen2 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.error-jasen3 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.error-jasen4 {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.error-jasen5 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.tallenna {
    grid-area: tallenna;
    justify-self: end;
}

.teams {
    margin-left: 1em;
    margin-top: 0;
}
