* {
    font-family: Arial;
}

.login {   
    background-color: #CEEEFF; 
}

.loginform {
    background-color: white;
    border: 1px solid black;
    width: 200px;
}

p {
    padding-left: 1em;
}

input {
    margin-right: 1em;
}

.flex-container {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 1em;
}

.error {
    color: red;
    padding-left: 1em;
}

.no-error {
    height: 1.5em;
    /*width: 1px;*/
}

input[type=submit] {
    padding: 0.5em;
    background-color: #239FF1;
    color: white;
}

/* TODO: tässä oikeilla jäljillä! laita toimimaan myös Jäsen-laatikoille!
Vaikuttaako jäsenten p-tagit?*/
input[type=text], testi {
    float: right;
    /*text-align: right;*/
}

#header {
    background-color: #239FF1;
    list-style-type: none;
    padding: 0.5em 0 0.5em 0;
}

#header a {
    color: white;
}

#header li {
    display: inline-block;
    padding: 0 0.5em 0 0.5em;
}

.center {
    text-align: center;
}

label {
    text-align: left;
}

.right {
    float: right;
}